{% extends "base.html" %}
{% block titulo %}Catalogo de autos usados CIAT{% endblock %}
{% block contenido %}
    <div class="row-fluid">
        {% for producto in products %}
        <div class="span4">
            <!-- comienzo del carrucel-->
            <div id="carrousel-{{ producto.id }}" class="carousel slide">
                <div class="carousel-inner">
                    {% for imagen in producto.imagenes  %}
                        {% if forloop.first %}
                            <div class="item active">
                        {% else %}
                            <div class="item">
                        {% endif %}
                            <img src="{{ imagen.thumb_pag_productos }}" alt="{{ imagen.nombre }}" class="img-polaroid">
                            <div class="carousel-caption">
                                <h4>{{ imagen.nombre }}</h4>
                                <p>{{ imagen.descripcion }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#carrousel-{{ producto.id }}" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#carrousel-{{ producto.id }}" data-slide="next">›</a>
            </div>
            <!--fin del carrusel-->
            <h3 class="ciatstyleh">{{ producto.nombre }}</h3>
            <p>
                {{ producto.descripcion|truncatechars:200 }}
            </p>
            <p><a class="btn btn-success" href="{% url "detalle_producto" producto.url %}">Ver Mas »</a></p>
        </div>
        {% endfor %}
    </div>
{% endblock %}