{% extends "base.html" %}
{% block titulo %}Catalogo de autos usados CIAT{% endblock %}
{% block contenido %}
    <div class="hero-unit">
        <h2>Bienvenido a la Licitacion de Autos Usados, CIAT</h2>
        <p>El Centro Internacional de Agricultura – CIAT- tiene para la venta al mejor postor aceptable; en el sitio y en las condiciones en que se encuentran, Treinta y un (31) vehículos marca NISSAN, de diferentes modelos. Se podrán ver en las instalaciones del CIAT, desde el día Sabado 27 de Abril hasta el día Martes 21 de Mayo de 2013; en el horario de 8:30 a: m – a – 3:30 p: m, de lunes a viernes y los días sábados de 8:00 a:m a 11:00 a:m.</p>
        <p>Las ofertas deben ser depositadas en la portería del CIAT en sobre cerrado, hasta el día lunes 20 de mayo de 2013 hasta las 15:00 horas.</p>
            <p>INFORMACIÓN AL 4450566 - 4450030 </p>
    </div>
    <div class="row-fluid">
        {% for producto in products %}
        <div class="span4">
            <!-- comienzo del carrucel-->
            <div id="carrousel-{{ producto.id }}" class="carousel slide">
                <div class="carousel-inner">
                    {% for imagen in producto.imagenes  %}
                        {% if forloop.first %}
                            <div class="item active">
                        {% else %}
                            <div class="item">
                        {% endif %}
                            <img src="{{ imagen.thumb_pag_productos }}" alt="{{ imagen.nombre }}" class="img-polaroid">
                            <div class="carousel-caption">
                                <h4>{{ imagen.nombre }}</h4>
                                <p>{{ imagen.descripcion }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#carrousel-{{ producto.id }}" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#carrousel-{{ producto.id }}" data-slide="next">›</a>
            </div>
            <!--fin del carrusel-->
            <h3 class="ciatstyleh">{{ producto.id_interno }} - {{ producto.nombre }}</h3>
            {% if producto.descripcion %}
                <p>
                    {{ producto.descripcion|truncatechars:200 }}
                </p>
            {% endif %}

            <p><a class="btn btn-success" href="{% url "detalle_producto" producto.url %}">Ver Mas »</a></p>
        </div>
        {% endfor %}
    </div>
{% endblock %}