{% extends "base.html" %}
{% block titulo %}Catalogo de autos usados CIAT{% endblock %}
{% block contenido %}
    <div class="hero-unit">
        <h2>Bienvenido a la Licitacion de Autos Usados, CIAT</h2>
        <p>El Centro Internacional de Agricultura Tropical – CIAT – tiene
            para la venta al mejor postor aceptable; en el sitio y en las
            condiciones en que encuentran los siguientes vehículos: (10)
            Nissan Sentra, (3) Nissan X-TRAIL, (16) Nissan Frontier, (2)
            Buses Marcas Ford, de diferentes modelos. Se podrán ver en las
            instalaciones del CIAT, recta Cali – Palmira – Km 17, desde el día
            sábado 27 de abril hasta el día martes 21 de mayo de 2013; en
            el horario de 8:00 am a 3:30 pm, de lunes a viernes y los días
            sábados de 8:00 am a 11:00 am.</p>
        <p>
            <strong>INFORMACIÓN: 4450566 - 4450030 / Bogotá: 3410490</strong>
        </p>
        <p>NOTA: Se reciben ofertas hasta las 8:30 a:m del día martes 21 de mayo,
            y apertura de urna, a las 9:00 a.m. Venta de pliegos portería del CIAT - Palmira.</p>
    </div>
    {% for categoria in categorias %}
        <div class="row-fluid">
            <h2 class="ciatstyleh">{{ categoria.nombre }}</h2>
            {% for producto in categoria.productos %}
            <div class="span4">
                <!-- comienzo del carrucel-->
                <div id="carrousel-{{ producto.id }}" class="carousel slide">
                    <div class="carousel-inner">
                        {% for imagen in producto.imagenes  %}
                            {% if forloop.first %}
                                <div class="item active">
                            {% else %}
                                <div class="item">
                            {% endif %}
                                <img src="{{ imagen.thumb_pag_productos }}" alt="{{ imagen.nombre }}" class="img-polaroid">
                                <div class="carousel-caption">
                                    <h4>{{ imagen.nombre }}</h4>
                                    <p>{{ imagen.descripcion }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="left carousel-control" href="#carrousel-{{ producto.id }}" data-slide="prev">‹</a>
                    <a class="right carousel-control" href="#carrousel-{{ producto.id }}" data-slide="next">›</a>
                </div>
                <!--fin del carrusel-->
                <h3 class="ciatstyleh">{{ producto.id_interno }} - {{ producto.nombre }}</h3>
                {% if producto.descripcion %}
                    <p>
                        {{ producto.descripcion|truncatechars:200 }}
                    </p>
                {% endif %}

                <p><a class="btn btn-success" href="{% url "detalle_producto" producto.url %}">Ver Mas »</a></p>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}