{% extends "base.html" %}
{% block titulo %}Catalogo de autos usados CIAT{% endblock %}
{% block contenido %}
    <div class="hero-unit">
        <h2>Bienvenido a la Licitacion de Autos Usados, CIAT</h2>
        <p>El Centro Internacional de Agricultura Tropical – CIAT – tiene
            para la venta al mejor postor aceptable; en el sitio y en las
            condiciones en que encuentran los siguientes vehículos: (2)
            Nissan Sentra, (6) Nissan X-TRAIL, (1) Nissan Frontier, (1)
            Buseta Van Marca Nissan, de diferentes modelos. Se podrán ver en las
            instalaciones del CIAT, recta Cali – Palmira – Km 17,  Sábado 2  de
            Noviembre  hasta el día martes 12 de Noviembre  de 2013; en el horario
            de 8 a: m –a- 3:30 p: m, de lunes a viernes y los días sábados de 8 a: m a 11:00 a: m.</p>
        <p>
            <strong>INFORMACIÓN: Palmira: 4450566. / Bogotá: 337 63 83</strong>
        </p>
        <p> Se reciben ofertas hasta las 8:30 a.m. del día miércoles 13 de noviembre y apertura de urna,
            a las 9:00 a.m. Venta de pliegos de portería del CIAT-Palmira.</p>
    </div>
    {% for categoria in categorias %}
        <div class="row-fluid">
            <h2 class="ciatstyleh">{{ categoria.nombre }}</h2>
            {% for producto in categoria.productos %}
            <div class="span4">
                <!-- comienzo del carrucel-->
                <div id="carrousel-{{ producto.id }}" class="carousel slide">
                    <div class="carousel-inner">
                        {% for imagen in producto.imagenes  %}
                            {% if forloop.first %}
                                <div class="item active">
                            {% else %}
                                <div class="item">
                            {% endif %}
                                <img src="{{ imagen.thumb_pag_productos }}" alt="{{ imagen.nombre }}" class="img-polaroid">
                                <div class="carousel-caption">
                                    <h4>{{ imagen.nombre }}</h4>
                                    <p>{{ imagen.descripcion }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="left carousel-control" href="#carrousel-{{ producto.id }}" data-slide="prev">‹</a>
                    <a class="right carousel-control" href="#carrousel-{{ producto.id }}" data-slide="next">›</a>
                </div>
                <!--fin del carrusel-->
                <h3 class="ciatstyleh">{{ producto.id_interno }} - {{ producto.nombre }}</h3>
                {% if producto.descripcion %}
                    <p>
                        {{ producto.descripcion|truncatechars:200 }}
                    </p>
                {% endif %}

                <p><a class="btn btn-success" href="{% url "detalle_producto" producto.url %}">Ver Mas »</a></p>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}